
/*
fontes

poppins 
700
500
400

roboto
500 
400

*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0 50px;
  padding-bottom: 50px;
  background-color: #F6F7FB;
}

.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 470px) {
  body {
    padding: 0 15px;
  }
}
